@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
    background-color: #DBD1C2 !important;
    color: #554A38;
    font-family: "Staatliches";
}

footer {
    background-color: #A59B85;
    color: #FFFFFF;
}

.navbar-valikot a {
    background-color: #554A38;
    color: #FFFFFF;
    text-decoration: none;
}

/*YLÄPALKKI INFO*/
.navbar-info .nav-link {
    background-color: #554A38 !important;
    color: #FFFFFF !important;
}

.pelit-dropdown a {
    background-color: #554A38 !important;
    color: #FFFFFF !important;
}

/*YLÄPALKKI PELIT*/
.nav-item a {
    background-color: #554A38 !important;
    color: #FFFFFF !important;
}

.historiapeli-logo {
    color: #554A38 !important;
    text-decoration: none;
    font-family: "Staatliches";
}

.navbar-container {
    background-color: #554A38 !important;  
}
